<div id="dvfootercontainer">
  <!-- footer div starts here-->
  <div id="foottop">
    <p><span>Copyright © 2008 Your Company Name</span> <a href="#" title="Home">Home</a><a href="#" title="Services">Services</a><a href="#" title="Portfolio">Portfolio</a><a href="#" title="Blog">Blog</a><a href="http://www.studio7designs.com">Eco Web Design by Studio7designs</a></p>
    <div class="design"> <a href="#">
      <%= image_tag("studio.jpg", alt: "Title", border: '0') %>
    </a> </div>
  </div>
  <!-- footer div ends here-->
</div>

