<div id="dvtopcontainer">
  <!-- top container starts here-->
  <div id="dvlogocontainer">
    <!-- logo container starts here-->
  <h1>Sample App</h1>
  <h4>Here is my Tag Line</h4>
    
    <!-- logo container ends here-->
  </div>
  <div id="dvnavicontainer">
    <!-- navogation div starts here-->
    <%= image_tag("navi_left.jpg", alt: "Title") %>
<div id="tabs1" >
      <ul>
        <!-- CSS Tabs -->
        <li id="current"><a href="#"><span>Home</span></a></li>
        <li><a href="#"><span>Services</span></a></li>
        <li><a href="#"><span>Portfolio </span></a></li>
        <li><a href="#"><span>Blog</span></a></li>
        <li><a href="#"><span>About Us</span></a></li>
      </ul>
    </div>
    <%= image_tag("navi_right.jpg", alt: "Title") %>
    <!-- navogation div ends here-->
  </div>
  <!-- top container ends here-->
</div>